{% extends 'base.html' %}

{% block title %}
Cart
{% endblock title %}

{% block content %}
{% load cart %}
<div class="containrer mt-5">
   <div class="border border-1 rounded-5 m-4 p-4">
      <p class="display-4 text-center w3-animate-zoom">Your Cart</p>
      <hr>
         <table class="table">
            <thead>
               <tr class="w3-animate-zoom">
                  <th>Sno.</th>
                  <th>Image</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Total</th>
                  <th class='text-center'>Edit</th>
                  <th class='text-center'>Remove</th>
               </tr>
            </thead>
            <tbody>
               {% for product in products %}
               <tr class="w3-animate-zoom">
                  <td>{{forloop.counter}}</td>
                  <td><img class="rounded-circle" src="{{product.image.url}}" alt="{{product.name}}" height="80px"></td>
                  <td>{{product.name}}</td>
                  <td>₹{{product.price}}</td>
                  <td >₹{{product|price_total:request.session.cart}}</td>
                  <td><div class="card-footer p-0 no-gutters">
                     {% if product|is_in_cart:request.session.cart %}
                     <div class="row no-gutters">
                       
                       <form action="/cart/" class="col-2 " method="post">
                         {% csrf_token %}
                         <input type="text" name="product" value="{{product.id}}" hidden>
                         <input type="text" name="remove" value="True" hidden>
                         <input type="submit" class="btn btn-block btn-outline-secondary" name="" value="-">
                       </form>
                       <br>
 
                       <div class="text-center pt-1 col">{{product|cart_quantity:request.session.cart}} in cart</div>
                       
                       <form action="/cart/" class="col-3 " method="post">
                         {% csrf_token %}
                         <input type="text" name="product" value="{{product.id}}" hidden>
                         <input type="submit" class="btn btn-block btn-outline-secondary" name="" value="+">
                       </form>
                     </div>
                       
                     {% else %}
                     <form action="/cart/" method="post" class="btn-block">
                       {% csrf_token %}
                       <input type="text" name="product" value="{{product.id}}" hidden>
                       <input type="submit" class="float-right btn btn-light border form-control" value='Add to Cart'>
                     </form>
                       
                     {% endif %}
                  </div>
               </div></td>
               <td>
                  <form action="/cart/" method="post" class="btn-block">
                  {% csrf_token %}
                  <input type="text" name="prodrmv" value="{{product.id}}" hidden>
                  <button type="submit" class="float-right btn btn-light border form-control my-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                     <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                   </svg></button>
                </form>
               </td>
            </tr>
                 
               {% endfor %}
            
            </tbody>
            <tfoot>
               <tr>
                  {% if request.session.cart %}
                  <th class="text-center" colspan="5">Total</th>
                  <th>₹{{products|total_cart_price:request.session.cart}}</th>
                  {% else %}
                  <th class="text-center pt-5 w3-animate-zoom" colspan="7"><h1>Empty Cart</h1></th>
                  {% endif %}
               </tr>
            </tfoot>
         </table>
         <hr>
         {% if request.session.customer %}
         <div class="mt-3 pt-3 mb-3 pb-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop" 
            class="btn btn-outline-info border rounded col-lg-3 float-end">Check out</a>
         </div>
         {% else %}
         <div class="mt-3 pt-3 mb-3 pb-3">
            <a href="/login" class="btn btn-outline-info border rounded col-lg-3 float-end">Check out</a>
         </div>

         {% endif %}
         
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Check-out form</h1>
        <hr>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="m-2 p-3">
         <form action="/check-out/" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="">Address:</label>
              <pre></pre>
              <input type="text" name="address" id="" class="btn btn-outline-secondary form-control" placeholder="" aria-describedby="helpId">
              <label for="">City:</label>
              <pre></pre>
              <input type="text" name="city" id="" class="btn btn-outline-secondary form-control" placeholder="" aria-describedby="helpId">
            </div>
            <br><br>
            <input type="submit"class="btn float-end btn-outline-info col-lg-6" value="Checkout">
              
         </form>
        </div>
      </div>
        
      </div>
    </div>
  </div>
</div>

{% endblock content %}